<div class="row">
  <div class="col s12">
    <img src="" alt="" class="responsive-img">
  </div>
</div>
<div class="row">
  <div class="col s12">
    <h3 class="center">Recipe name</h3>
  </div>
</div>
<div class="row">
  <div class="col s12">
        <a class='dropdown-button btn' href='#' data-activates='dropdown2'>Manage recipe</a>
        <ul id='dropdown2' class='dropdown-content'>
          <li><a href="#!">Add Ingredients to Shopping List</a></li>
          <li><a href="#!">Edit Recipe</a></li>
          <li><a href="#!">Delete Recipe</a></li>
        </ul>
  </div>
</div>
<div class="row">
  <div class="col s12">
      Description
  </div>
</div>
<div class="row">
  <div class="col s12">
      Ingredients
  </div>
</div>