<br>
<div class="row">
  <div class="col s12">
      <button class="waves-effect waves-light btn-large">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s12">
    
      <ul class="collection">
        <a href="#{{recipe.name}}" class="collection-item avatar" *ngFor="let recipe of recipes">
          <li>
            <img [src]="recipe.imagePath" alt="" class="circle">
            <span class="title">{{recipe.name}}</span>
            <p>{{recipe.description}}</p>
          </li>
        </a> 
      </ul>
      
    <app-recipe-item></app-recipe-item>
  </div>
</div>
  
